{% extends 'base.html' %}

{% block title %} ✍️ Draft workshop! 🎄 {% endblock title %}

{% block content %}
<div class="container">
    <h1>✍️ Need some additional help from Santa?!  🌟 🎄</h1>
    <p>Ask Santa for extra help here... </p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center mt-4">
            <input type="submit" class="btn btn-christmas-create" value="✨ Bring Your Christmas Story to Life! ✨">
        </div>
    </form>
</div>
{% endblock content %}