{% extends 'base.html' %}

{% block title %} Sign Up {% endblock title %}

{% block content %}
<h1>Sign Up</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Sign Up">
</form>
<p>Already have an account? <a href="{% url 'login' %} " class="btn btn-primary">Click Here</a> </p>
{% endblock content %} 


    <div class="light" style="top: 20%; left: 10%;"></div>
    <div class="light" style="top: 60%; left: 90%;"></div>
    <div class="light" style="top: 85%; left: 30%;"></div>
    <div class="light" style="top: 5%; left: 50%;"></div>
    <div class="light" style="top: 70%; left: 70%;"></div>
    <div class="confetti" style="top: 0; left: 5%;"></div>
    <div class="confetti" style="top: 0; left: 25%;"></div>
    <div class="confetti" style="top: 0; left: 45%;"></div>
    <div class="confetti" style="top: 0; left: 65%;"></div>
    <div class="confetti" style="top: 0; left: 85%;"></div>