{% extends 'base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}
        <h1>About page</h1>

        <h2>Hodor</h2>
        <p>Hey, I'm Hodor. WELCOME to my site! I have been waiting forever to meet you!.</p>
        <p>This is my fictional company that tells allows you to create posts and share with each other.</p>
        <p>The best part? You do not have to log in tocreate your posts or even create an account.</p>
        <p>Please be kind with all your posts!!!</p>
{% endblock content %}
